%Cuprum-Regular{
  font-family: 'Cuprum-Regular';
}
%Cuprum-RegularItalic{
  font-family: 'Cuprum-RegularItal';
}
%Cuprum-Bold{
  font-family: 'Cuprum-Bold';
}
%Cuprum-BoldItal{
  font-family: 'Cuprum-BoldItal';
}
%PT-SansRegular{
  font-family: 'PT-SansRegular';
}
%PT-SansBold{
  font-family: 'PT-SansBold';
}