@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  &__top{
    background-color: #293449;
    height: 42px;
    font-size: 17px;
    line-height: 19px;
    color: #fff;
  }
  &__top-inner{
    display: flex;
    &:hover{
        background-color: #212a3a;
      .logo {
        &::before{
          background-image: url('../images/logo-hover.jpg');
        }
      }
      .header__top-search{
        .header__top-search__input-btn{
          background-image: url('../images/search-icon__hover.svg');
        }
      }
      .header__top-item{
        &:first-child{
          &::before{
            background-image: url('../images/favorite-icon__hover.svg');
          }
        }
        &:nth-child(2){
          &::before{
            background-image: url('../images/cart-icon__hover.svg');
          }
        }
      }
      .header__top-link{
        background-color: #5fbb2d;
      }
    }
    &.header__top-inner--active{
      .logo {
        &::before{
          background-image: url('../images/logo-click.jpg');
        }
      }
      .header__top-items{
        background-color: #161d29;
        color: rgba(#fff, .6);
      }
      .header__top-link{
        color: rgba(#fff, .5);
        background-color: #518534;
      }
      .header__top-search.header__top-search--active{
        .header__top-search__input-btn{
          background-image: url('../images/search-icon__click.svg');
        }
      }
    }
  }
  &__top-search{
    position: relative;
    &.header__top-search--active{
      background-color: #fff;
      .header__top-search__input{
        display: none;
      }
      .header__top-search__input.header__top-search__input--active{
        display: block;
        color: #000;
        &::placeholder{
          color: #000;
        }
      }
      .header__top-search__input-btn{
        background-image: url('../images/search-icon__click.svg');
      }
    }
  }
  &__top-search__input{
    width: 270px;
    padding: 0 17px 0 49px;
    border: none;
    background-color: transparent;
    color: #fff;
    &::placeholder{
      color: #fff;
    }
    &.header__top-search__input--active{
      display: none;
    }
  }
  &__top-search__input-btn{
    position: absolute;
    background-image: url('../images/search-icon.svg');
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__top-item{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      left: 17px;
    }
    &:first-child{
      padding-left: 45px;
      &::before{
        background-image: url('../images/favorite-icon.svg');
        width: 14px;
        height: 16px;
      }
    }
    &:nth-child(2){
      padding-left: 50px;
      &::before{
        background-image: url('../images/cart-icon.svg');
        width: 15px;
        height: 15px;
      }
    }
  }
  &__top-items{
    display: flex;
  }
  &__top-search,
  &__top-items,
  &__top-link{
    padding: 11px 0;
  }
  &__top-item,
  &__top-link{
    width: 150px;
  }
  &__top-link{
    text-align: center;
    background-color: #63a63e;
  }
  &__bottom{
    background-color: #f4f7f9;
    padding: 46px 0 60px;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
    @extend %gill-sm;
  }
  &__bottom-text{
    max-width: 220px;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    margin-left: 50px;
  }
  &__bottom-info__phone{
    width: 270px;
    border: 3px solid #fff;
    font-size: 21px;
    line-height: 23px;
    padding: 6px 29px 10px 0;
    color: #ee3643;
    text-align: right;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/phone-icon.svg');
      width: 19px;
      height: 19px;
      left: 13px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__bottom-info__address{
    color: #32425c;
    font-size: 14px;
    line-height: 16px;
  }
  &__bottom-btn{
    @extend %Cuprum-Regular;
    font-size: 21px;
    line-height: 23px;
    background-color: #fff;
    transition: all .3s;
    &:hover{
      color: #ee3643;
    }
    &.header__bottom-btn--active{
      color: rgba(#000, .3);
    }
    & + & {
      margin-left: 10px;
    }
    &:first-child{
      padding: 11px 27px 12px 48px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        background-image: url('../images/login-icon.svg');
        width: 20px;
        height: 17px;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover{
        &:before{
          background-image: url('../images/login-hover.svg');
        }
      }
    }
    &:last-child{
      padding: 11px 25px 12px;
    }
  }
}
.logo{
  position: relative;
  width: 240px;
  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 47px;
    background-image: url('../images/logo.jpg');
  }
}
.menu{
  margin-top: 30px;
  &__list{
    display: flex;
  }
  &__list-item{
    background-color: #32425c;
    font-size: 17px;
    line-height: 19px;
    color: #fff;
    transition: all .3s;
    &:hover{
      background-color: #293449;
    }
    &.menu__list-item--active{
      background-color: #293449;
      color: rgba(#fff, .5);
    }
    & + & {
      margin-left: calc(-1px + .3px);
    }
  }
  &__list-link{
    padding: 17px 34px 18px;
    border-bottom: 5px solid #293449;
  }
}

@import "media";
