@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  &__top{
    background-color: #293449;
    height: 42px;
    font-size: 17px;
    line-height: 19px;
    color: #fff;
  }
  &__top-inner{
    display: flex;
    &:hover{
        background-color: #212a3a;
      .logo {
        &::before{
          background-image: url('../images/logo-hover.jpg');
        }
      }
      .header__top-search{
        .header__top-search__input-btn{
          background-image: url('../images/search-icon__hover.svg');
        }
      }
      .header__top-item{
        &:first-child{
          &::before{
            background-image: url('../images/favorite-icon__hover.svg');
          }
        }
        &:nth-child(2){
          &::before{
            background-image: url('../images/cart-icon__hover.svg');
          }
        }
      }
      .header__top-link{
        background-color: #5fbb2d;
      }
    }
    &.header__top-inner--active{
      .logo {
        &::before{
          background-image: url('../images/logo-click.jpg');
        }
      }
      .header__top-items{
        background-color: #161d29;
        color: rgba(#fff, .6);
      }
      .header__top-link{
        color: rgba(#fff, .5);
        background-color: #518534;
      }
      .header__top-search.header__top-search--active{
        .header__top-search__input-btn{
          background-image: url('../images/search-icon__click.svg');
        }
      }
    }
  }
  &__top-search{
    position: relative;
    &.header__top-search--active{
      background-color: #fff;
      .header__top-search__input{
        display: none;
      }
      .header__top-search__input.header__top-search__input--active{
        display: block;
        color: #000;
        &::placeholder{
          color: #000;
        }
      }
      .header__top-search__input-btn{
        background-image: url('../images/search-icon__click.svg');
      }
    }
  }
  &__top-search__input{
    width: 270px;
    padding: 0 17px 0 49px;
    border: none;
    background-color: transparent;
    color: #fff;
    &::placeholder{
      color: #fff;
    }
    &.header__top-search__input--active{
      display: none;
    }
  }
  &__top-search__input-btn{
    position: absolute;
    background-image: url('../images/search-icon.svg');
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__top-item{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      left: 17px;
    }
    &:first-child{
      padding-left: 45px;
      &::before{
        background-image: url('../images/favorite-icon.svg');
        width: 14px;
        height: 16px;
      }
    }
    &:nth-child(2){
      padding-left: 50px;
      &::before{
        background-image: url('../images/cart-icon.svg');
        width: 15px;
        height: 15px;
      }
    }
  }
  &__top-items{
    display: flex;
  }
  &__top-search,
  &__top-items,
  &__top-link{
    padding: 11px 0;
  }
  &__top-item,
  &__top-link{
    width: 150px;
  }
  &__top-link{
    text-align: center;
    background-color: #63a63e;
  }
  &__bottom{
    background-color: #f4f7f9;
    padding: 46px 0 60px;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
    @extend %gill-sm;
  }
  &__bottom-text{
    max-width: 220px;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    margin-left: 50px;
  }
  &__bottom-info__phone{
    width: 270px;
    border: 3px solid #fff;
    font-size: 21px;
    line-height: 23px;
    padding: 6px 29px 10px 0;
    color: #ee3643;
    text-align: right;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/phone-icon.svg');
      width: 19px;
      height: 19px;
      left: 13px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__bottom-info__address{
    color: #32425c;
    font-size: 14px;
    line-height: 16px;
  }
  &__bottom-btn{
    @extend %Cuprum-Regular;
    font-size: 21px;
    line-height: 23px;
    background-color: #fff;
    transition: all .3s;
    &:hover{
      color: #ee3643;
    }
    &.header__bottom-btn--active{
      color: rgba(#000, .3);
    }
    & + & {
      margin-left: 10px;
    }
    &:first-child{
      padding: 11px 27px 12px 48px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        background-image: url('../images/login-icon.svg');
        width: 20px;
        height: 17px;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover{
        &:before{
          background-image: url('../images/login-hover.svg');
        }
      }
    }
    &:last-child{
      padding: 11px 25px 12px;
    }
  }
}
.logo{
  position: relative;
  width: 240px;
  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 47px;
    background-image: url('../images/logo.jpg');
  }
}
.menu{
  margin-top: 30px;
  &__list{
    display: flex;
  }
  &__list-item{
    background-color: #32425c;
    font-size: 17px;
    line-height: 19px;
    color: #fff;
    transition: all .3s;
    &:hover{
      background-color: #293449;
    }
    &.menu__list-item--active{
      background-color: #293449;
      color: rgba(#fff, .5);
    }
    & + & {
      margin-left: calc(-1px + .3px);
    }
  }
  &__list-link{
    padding: 17px 34px 18px;
    border-bottom: 5px solid #293449;
  }
}
.assortment{
  color: #fff;
  padding: 59px 0 53px;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  &-item{
    width: 300px;
    height: 123px;
    padding: 22px 40px 22px 25px;
    transition: all .3s;
    &:first-child{
      background-color: #ffbf47;
      &:hover{
        background-color: #f6b22d;
      }
    }
    &:nth-child(2){
      background-color: #3bbce3;
      &:hover{
        background-color: #2baae3;
      }
    }
    &:nth-child(3){
      background-color: #dc91d8;
      &:hover{
        background-color: #dc83d8;
      }
    }
    &:nth-child(4) {
      background-color: #8ed78f;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      &:hover{
        background-color: #82c782;
      }
    }
    &:nth-child(5){
      background-color: #ffc047;
      position: absolute;
      right: 0;
      bottom: 0;
      &:hover{
        background-color: #ffb447;
      }
    }
    & + & {
      margin-left: 20px;
    }
  }
  &-item__inner{
    display: flex;
    justify-content: space-between;
    &.assortment-item__new{
      position: relative;
      &::after{
        position: absolute;
        content: "";
        background-image: url('../images/new__marker.png');
        width: 60px;
        height: 59px;
        right: -40px;
        top: -22px;
      }
    }
  }
  &-item__textarea{
    margin-top: -26px;
  }
  &-item__title{
    @extend %Cuprum-Bold;
    font-size: 24px;
    line-height: 30px;
  }
  &-item__descr{
    font-size: 14px;
    line-height: 18px;
    max-width: 135px;
    width: 100%;
    background-color: rgba(#000, .1);
    padding: 9px 22px 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: -10px;
    transition: all .3s;
    &:hover{
      background-color: rgba(#000, .2);
    }
    &--active{
      background-color: rgba(#000, .3);
    }
  }
  &-slider{
    width: 620px;
    height: 266px;
    position: relative;
    margin-top: 20px;
  }
  &-slider__item{
    width: 620px;
    height: 266px;
    position: relative;
  }
  &-slider__item-btn{
    max-width: 195px;
    padding-left: 47px;
    padding-right: 47px;
    position: absolute;
    bottom: 22px;
    left: 25px;
  }
  &-slider__arrows{
    position: absolute;
    z-index: 5;
    background-color: transparent;
    border: none;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &-slider__prev{
    left: 25px;
  }
  &-slider__next{
    right: 25px;
  }
  &-slider__dots{
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    li{
      display: inline-block;
    }
    li button {
      padding: 0;
      font-size: 0;
      line-height: 0;
      width: 10px;
      height: 10px;
      border: none;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: all .3s;
    }
    li + li {
      margin-left: 10px;
    }
    .slick-active button {
      border: 2px solid #fff;
      background-color: #ee3643;
    }
  }
}
.popular-items{
  @extend %PT-SansBold;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 20px;
  &__top{
    background-color: #f9f5f0;
    padding: 0 30px 0 24px;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
  }
  &__top-title{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }
  &__top-btn{
    margin: 25px 0;
    padding-left: 56px;
    padding-right: 56px;
  }
  &__bottom{
    margin-top: 20px;
  }
  &__bottom-inner{
    display: flex;
  }
  &__bottom-product__wrapper{
    position: relative;
    &:hover{
      .popular-items__bottom-product .popular-items__bottom-product__img-link{
        display: none;
      }
      .popular-items__bottom-product__hover{
        transition: all ease-in-out .3s;
        opacity: 1;
      }
    }
    &.popular-items__bottom-product__new{
      position: relative;
      &::after{
        content: "";
        position: absolute;
        background-image: url('../images/new__marker.png');
        width: 60px;
        height: 59px;
        top: 0;
        right: 0;
      }
      .popular-items__bottom-product .popular-items__bottom-product__info .popular-items__bottom-product__info-prices .popular-items__bottom-product__info-newprice{
        margin-top: 55px;
      }
      .popular-items__bottom-product .popular-items__bottom-product__info .popular-items__bottom-product__info-prices .popular-items__bottom-product__info-oldprice{
        display: none;
      }
    }
    & + & {
      margin-left: 20px;
    }
  }
  &__bottom-product{
    width: 220px;
    height: 318px;
    border: 1px solid #eaeaea;
  }
  &__bottom-product__info-title{
    display: block;
  }
  &__bottom-product__hover{
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  &__bottom-product__button{
    display: block;
    max-width: 135px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: all .3s;
    & + & {
      margin-top: 7px;
    }
  }
  &__bottom-product__buy{
    background-color: #63a63e;
    border: none;
    border-bottom: 3px solid #367315;
    color: #fff;
    padding-left: 49px;
    padding-right: 45px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/cart-icon__popular-items.svg');
      width: 15px;
      height: 15px;
      left: 12px;
      top: 11px;
    }
    &:hover{
      background-color: #5fbb2d;
      &::before{
        background-image: url('../images/cart-icon__popular-items-hover&click.svg');
      }
    }
    &.popular-items__bottom-product__button--active{
      border-bottom: 3px solid #518534;
      background-color: #518534;
    }
  }
  &__bottom-product__favorite{
    background-color: transparent;
    border: 3px solid #63a63e;
    color: #32425c;
    padding-left: 23px;
    padding-right: 24px;
    &:hover{
      border: 3px solid #32425c;
    }
    &.popular-items__bottom-product__button--active{
      border: 3px solid rgba(#32425c, .3);
      color: rgba(#32425c, .3);
    }
  }
  &__bottom-product__info{
    max-width: 160px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  &__bottom-product__info-prices{
    margin-top: -14px;
  }
  &__bottom-product__info-oldprice,
  &__bottom-product__info-newprice{
    font-size: 17px;
    line-height: 19px;
  }
  &__bottom-product__info-oldprice{
    margin-top: -13px;
    color: #a9a9a9;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      height: 1px;
      background-color: #a9a9a9;
      width: calc(100% + 6px);
      top: 50%;
    }
  }
  &__bottom-product__info-newprice{
    color: #fff;
    width: 122px;
    background-color: #ee3643;
    border-radius: 3px;
    padding: 11px 0;
    margin: 8px auto 0;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 20px solid #ee3643;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      bottom: calc(10px + .5px);
      transform: rotate(90deg);
      right: -29px;
    }
  }
}



@import "media";
